<h1>Animal</h1>
<br>
<form>
    <label for="vrsta">Vrsta:</label>
    <input name="vrsta" type="text"[(ngModel)]="newAnimal.vrsta"/>

    <label for="ime">ime:</label>
    <input name="ime" type="text"[(ngModel)]="newAnimal.ime"/>

    <label for="datum_rodjenja">Datum rodjenja:</label>
    <input name="datum_rodjenja" type="text"[(ngModel)]="newAnimal.datum_rodjenja"/>

    <button(click)="addAnimal()">Dodaj </button>
</form>

<table class="table table">
  <thead>
    <tr>
      <th>Ime</th>
      <th>Vrsta</th>
      <th>datum rodjenja</th>
    </tr>
  </thead>
  <tr *ngFor="let animal of animals">
    <td>{{animal.ime}}</td>
    <td>{{animal.vrsta}}</td>
    <td *ngIf="!animal.datum_rodjenja">nepoznat</td>
    <td *ngIf="animal.datum_rodjenja">{{ animal.datum_rodjenja}}</td>
    <td><button
      class="btn btn-danger"
      (click)="removeAnimal(animal)">
    X
    </button>
    <td><button
      class="btn btn-primary"
      (click)="moveToTop(animal)">
    Move to top
    </button>
</td>
</tr>
</table>